/* FONT */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
/* Variables */
/* COLOURS */
/*FONTS*/
/*Global*/
.section-heading h2 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 62px;
}

/* CARD SYLING */
.card-deck {
  margin: 15px auto;
}

.card {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.card-wrapper {
  max-width: 360px;
  max-height: 514px;
  margin: 0 auto;
}
.card-button {
  text-align: center;
}
.card:hover {
  background-color: #1a1a1a;
}
.card:hover .card-header > h4 {
  color: #ffffff;
}
.card:hover .card-title {
  color: #ffffff;
}
.card:hover .list-group-item {
  color: #ffffff;
  opacity: 0.4;
}
.card:hover .btn-general {
  background-color: #2b63e3;
  color: #ffffff;
  border: #2b63e3;
}
.card-header {
  background-color: transparent;
  border-bottom: transparent;
}
.card-header h4 {
  color: #202124;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.card-title {
  text-align: center;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 72px;
}

.list-group {
  align-items: center;
  text-align: center;
}
.list-group-item {
  border: transparent;
  color: #000000;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.4;
}

/* Media Querries */
@media (max-width: 991px) {
  .card-deck .card {
    margin: 15px auto;
  }
}
.wrapper {
  position: relative;
  max-width: 263px;
  margin: 15px auto;
}
.wrapper:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  background-color: #ffffff;
  overflow: auto;
}

.text {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.text-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.text-subheading {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.2px;
}

.media {
  margin-top: 25px;
}
.media i {
  font-size: 30px;
  margin-right: 20px;
  color: #cccccc;
}

.btn-general-left {
  float: right;
}

.btn-general-left {
  float: left;
}

@media screen and (max-width: 1199px) and (min-width: 993px) {
  .text {
    font-size: 12px;
    font-weight: 200;
    line-height: 22px;
  }
  .text-heading {
    font-size: 20px;
    line-height: 23px;
  }
  .text-subheading {
    font-size: 12px;
    line-height: 10px;
  }

  .media {
    margin-top: 12px;
  }
  .media i {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .form-control {
    margin: 0 auto;
  }

  .form-group {
    text-align: center;
  }
}
.section-paragraph {
  margin: 25px auto;
}
.section-paragraph p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.footer {
  background-color: #1a1a1a;
  max-height: 266px;
  padding: 60px 130px 24px 130px;
}
.footer-section {
  padding-right: 0px;
}

.navigate {
  list-style-type: none;
}
.navigate li {
  display: inline;
  margin-right: 40px;
}
.navigate li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.4;
  display: inline;
}
.navigate li a:hover {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links {
  list-style-type: none;
  float: right;
}
.social-links li {
  display: inline;
  margin-right: 20px;
}
.social-links li a:hover {
  opacity: 0.4;
  cursor: pointer;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.divider {
  border-color: #ffffff;
  opacity: 0.4;
  height: 1px;
  width: 100%;
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 40px;
  }
  .footer-section {
    text-align: center;
    margin: 20px auto;
  }

  .social-links {
    float: none;
  }

  .divider {
    margin-top: 10px;
  }
}
form {
  margin: 0 auto;
}

.form {
  margin-top: 25px auto;
}
.form-control {
  width: 300px;
  height: 48px;
  border-radius: 70px;
  border: 1px solid #eaeaea;
}
.form-group label {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.form-group input {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.form-group input::placeholder {
  opacity: 0.4;
}
.form-buttons {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 449px) {
  .form-buttons {
    margin-top: 25px;
  }

  .btn-general-form {
    margin-bottom: 15px;
  }
}
.mg-t {
  margin-top: 50px;
}

.mg-b {
  margin-bottom: 15px;
}

/*Buttons*/
.btn-general {
  width: 220px;
  height: 58px;
  border-radius: 100px;
  border: 1px solid #eaeaea;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding: 0.75rem 0.75rem;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.btn-general-form {
  width: 200px;
}
.btn-general-form:hover {
  background-color: #42cb83;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
