.btn-general{
    width: 220px;
    height: 58px;
    border-radius: 100px;
    border: 1px solid #eaeaea;
    color: $black;
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding: 0.75rem .75rem;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    &-header{
        &:hover{
            background-color: $green;
            color:$white;
        }
    }
    &-form{
        width:200px;
        &:hover{
            background-color: #42cb83;
            color: $white;
        }
    }
}

@media screen and (max-width: 449px) {
    .btn-general-header,
    .btn-general-form {
        margin-top:25px;
    }
    .form-buttons{
        margin-top:25px;
    }
}   