.section-heading{
    h2{
    color: $black;
    text-align: center;
    font-family: $montserrat;
    font-size: 48px;
    font-weight: 900;
    line-height: 62px;
    }
}

/* CARD SYLING */
.card-deck{
    margin: 15px auto;
}
.card{
    width: 360px;
    height: 514px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin: 15px auto;
    &:hover{
        background-color: #1a1a1a;
        .card-header>h4{
            color: $white;
        }
        .card-title{
            color: $white;
        }
        .list-group-item{
            color: $white;
            opacity: 0.4;
        }
        .btn-card{
            background-color: $hover-color;
            color:$white;
            border: $hover-color;
        }
    }
    &-header{
        background-color: transparent;
        border-bottom: transparent;
        
        h4{  
            color: #202124;
            font-family: $montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &-title{
        text-align: center;
        color: $black;
        font-family: $montserrat;
        font-size: 56px;
        font-weight: 900;
        line-height: 72px;
    }
    &-button{
        text-align: center;
    }       
}    

.list-group{
    align-items: center;
    text-align: center;
    &-item{
        border:transparent;
        color: $black;
        background-color: transparent;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        opacity: 0.4;
    }
}

/* Media Querries */
@media (min-width: 576px){
    .card-deck .card {
        margin:15px auto;
    }
}