
.section-paragraph{
    margin:25px auto;
    p {
        color: $black;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }
}   

