/*FOOTER SECTION STYLING*/
.section-paragraph{
    margin:25px auto;
    p {
        color: $black;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }
}   

.footer{
    background-color: #1a1a1a;
    padding: 60px 130px 24px 130px;
    &-section{
        padding-right: 0px;
        p{
            color:$grey;
            font-family: $montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.navigate{
    list-style-type: none;
    li{
        display: inline;
        margin-right: 40px;
        a {
            color:$white;
            font-family:$montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            opacity: 0.4;
            display:inline;
            &:hover{
                opacity: 1;
                cursor: pointer;
                text-decoration: none;
                -moz-transition: all 0.35s ease-in-out;
                -webkit-transition: all 0.35s ease-in-out;
                -o-transition: all 0.35s ease-in-out;    
            }
        }
    }
}

.navigate-bt{
    float:right;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    li>a{
        font-family: $montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
    }   
}




.social-links{
    list-style-type: none;
    float:right;
    li{
        display: inline;
        margin-right: 18px;
        a{
            &:hover{
                opacity: 0.4;
                cursor: pointer;
                -moz-transition: all 0.35s ease-in-out;
                -webkit-transition: all 0.35s ease-in-out;
                -o-transition: all 0.35s ease-in-out;    
            }    
        }
    }
}

.divider {
    border-color: $white;
    opacity: 0.4;
    height: 1px;
    width:100%;
    margin-top: 60px;
}

@media screen and (max-width: 991px) {
    .footer{
        padding:20px 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer{
        padding:20px 40px;
        &-section{
            text-align: center;
            margin: 20px auto;
        }
    }
    .social-links,
    .navigate-bt{
        float:none;
    }
    .divider {
        margin-top:10px;
    }
}    