.wrapper{
    position: relative;
    max-width: 263px;
    margin:15px auto;
    &:hover{
        .overlay{
            opacity: 1;
        }
    }
}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity: 0;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    background-color: $white;
    overflow:auto;
}

.text {
    color:$black;
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top:0;
    left: 0;
    
    &-heading{
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
    } 
    &-subheading{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.2px;
    }
}

.media{
    margin-top: 25px;
    i{
        font-size: 30px;
        margin-right: 20px;
        color: #cccccc;
        -moz-transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        &:hover{
            color:$black;
        }
    }
}

@media screen and (max-width: 1199px) and (min-width: 993px) {
    .text{
        font-size: 12px;
        font-weight: 200;
        line-height: 22px;
        &-heading{
            font-size: 20px;
            line-height: 23px;
    }
    &-subheading{
        font-size: 12px;
        line-height: 10px;
    }
  }
  .media{
    margin-top: 12px;
    i{
        font-size: 20px;
    }
}


}

@media screen and (max-width: 767px) {
    .form-control {
        margin: 0 auto;
    }
    .form-group{
        text-align: center;
    }
}    